.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'head head'
    'controls character'
    'history character'
    'phrases character';
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px 100px 120px auto;
}

.App-header {
  grid-area: head;
}

.controls {
  grid-area: controls;
}

.character {
  grid-area: character;
}

.history {
  grid-area: history;
}

.phrases {
  grid-area: phrases;
}
